#page__container{
    background-color: #ECF6F9;
    padding: 0.1rem;
}
#first__part{
    margin: 1rem;
display: flex;
align-items: center;
justify-content: space-around;
}
#second__part{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media (max-width:900px) {
    #first__part{
        display: flex;
        flex-direction: column-reverse;
    }
}